<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div style="text-align: center;">
        <img src="static/images/logo-laplateforme.png" alt="laplateforme logo" width="210" height="50">
    </div>
    <title>Apartment Hunters</title>
</head>

<body>
    <div class="container mt-4">
        <h1 class="apptitle"><span class="fancy">Apartment Hunters</span></h1>
        <div class="welcome-heading"><h3>Welcome to Apartment Hunters Website,</h3></div>
        <!-- Form for entering price range and superficy -->
        <div class="form-container">
        <form action="/predict" method="POST">
            <div style="padding-top: 12px;" class="form-group">
                <label for="superficy"><h4>Superficy (sqft):</h4></label>
                <input type="number" min="10" class="form-control" id="superficy" name="superficy" placeholder="Enter the square footage of the apartment's interior living space" required>
            </div>

            <div style="padding-top: 12px;" class="form-group">
                <label for="yearb"><h4>The year the house was built:</h4></label>
                <input type="number" min="1850" class="form-control" id="yearb" name="yearb" placeholder="Enter the year the house was initially built" required>
            </div>
            

            <div style="padding-top: 12px;" class="form-group">
                <label for="no_bedrooms"><h4>Number of bedrooms:</h4></label>
                <input type="number" min="0" class="form-control" id="no_bedrooms" name="no_bedrooms" placeholder="Enter the number of bedrooms" required>
            </div>

            <div style="padding-top: 12px;" class="form-group">
                <label for="no_bathrooms"><h4>Number of bathrooms:</h4></label>
                <input type="number" min="0" class="form-control" id="no_bathrooms" name="no_bathrooms" placeholder="Enter the number of bathrooms" required>
            </div>

            <div style="padding-top: 12px;" class="form-group">
                <label for="grade"><h4>Grade:</h4></label>
                <input type="number" min="1" max="13" class="form-control" id="grade" name="grade" placeholder="Enter the Grade" required>
            </div>

            <div style="padding-top: 12px;" class="form-group">
                <label for="waterfront"><h4>Waterfront:</h4></label>
                <div style="display: inline-block; margin-right: 10px;">
                    <input type="radio" id="waterfront_yes" name="waterfront" value="yes">
                    <label for="waterfront_yes">Yes</label>
                </div>
                <div style="display: inline-block;">
                    <input type="radio" id="waterfront_no" name="waterfront" value="no" checked>
                    <label for="waterfront_no">No</label>
                </div>
            </div>
            
            <div style="padding-top: 12px;" class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>


        </form></div>
    </div>
</body>


</html>